<div class="container">
  <h3 mat-dialog-title>Editar Unidades Centro</h3>

  <form class="mat-dialog-content" [formGroup]="datosForm">

    <div class="form">
      <mat-form-field color="accent">
          <input matInput placeholder="Unidad Centro" formControlName="unidad_centro" name="unidad_centro" maxlength="5" required>
      </mat-form-field>
  </div>

  <div class="form">
    <mat-form-field color="accent">
        <input matInput placeholder="ID Ciclo" formControlName="id_ciclo" name="id_ciclo" maxlength="100" required>
    </mat-form-field>
</div>

  <div class="form">
      <mat-form-field color="accent">
          <textarea matInput placeholder="Observaciones" formControlName="observaciones"
              name="observaciones"></textarea>
      </mat-form-field>
  </div>

  </form>
</div>
